name: Deploy Docusaurus site to GitHub Pages

on:
  push:
    branches:
      - main # or master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm install --prefix book/

      - name: Build Docusaurus website
        run: npm run build --prefix book/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main' # or master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/build
          # cname: example.com # Uncomment if you have a custom domain
